{% extends 'blades/html.njk' %}

{% set content_for_header %}
    {% if not site.prod %}<meta name="htmx-config" content='{"selfRequestsOnly": false}'>{% endif %}
{% endset %}

{% block body %}
 {%- set nav_pages = collections.all | eleventyNavigation | dataNavigation %}
 {%- renderFile '_includes/nav.liquid', nav_pages  %}
  <main class="container breakout-all">
      {{ content | safe }}
  </main>
  <footer>
    <hr />
    {{ site.footer | renderContent('njk,md', site) | safe }}
  </footer>
{% endblock %}
