{% comment %}<!--section:code-->```liquid{% endcomment %}
<ul>
  {%- for link in links %}
    <li>
      {% # prettier-ignore %}
      <a href="{{ link.url }}" {% if link.url == current_url %}aria-current="page"{% endif %}>
        {{- link.title -}}
      </a>
    </li>
  {%- endfor %}
</ul>
{% # prettier-ignore %}
{% comment %}```
<!--section:docs-->
Usage with [Eleventy Navigation plugin](https://www.11ty.dev/docs/plugins/navigation/#bring-your-own-html-render-the-menu-items-manually):

```liquid
{% assign links = collections.all | eleventyNavigation %}
{% render blades/links, links: links, current_url: page.url %}
```

Usage inside Pico's Navar:

```jinja2
TBD
```
<!--section-->{% endcomment %}
